<p>Hi <%= username %>,</p>
<p>For your loan application with loan app ID "<%= loan_app_id %>" status has changed. </p>
<p>Please take necessary action to proceed ahead. Thanks. </p>

<p>This a system generated mail. Please do not reply. </p>

<div style="margin-top: 40px;">
Ragards,<br/>
Arthmate
</p>
</div>