<p>Dear <%= username %>,</p>
<p>Your password successfully changed.</p>
<p>PFB, the new credentials for dashboard.</p>
<p><strong>email:</strong> <%= email %></p>
<p><strong>password:</strong> <%= password %></p>
<p>Regards,</p>
<p>ARTHMATETECH PRIVATE LIMITED</p>
